@import url("https://fonts.googleapis.com/css?family=Montserrat");
#nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 70px; }
  #nav .nav_logo {
    margin-left: 10%;
    font-weight: bold;
    cursor: pointer; }
    #nav .nav_logo p {
      margin: 0;
      font-size: 48px; }
      #nav .nav_logo p span {
        color: #F15025; }
  #nav .nav_links {
    position: absolute;
    right: 0;
    list-style-type: none;
    margin: 0 10% 0 0;
    padding: 0; }
    #nav .nav_links li {
      display: inline;
      margin: 0 10px; }
      #nav .nav_links li .nav_link {
        font-size: 24px;
        padding: 10px;
        color: #F0F3F5;
        cursor: pointer;
        text-decoration: none;
        transition: 0.2s;
        border-bottom: 2px solid transparent;
        border-spacing: 3px; }
        #nav .nav_links li .nav_link:hover {
          border-bottom-color: #a52b0b; }
      #nav .nav_links li .nav_link--active {
        border-bottom-color: #F15025; }

#hero {
  position: absolute;
  top: 20%;
  left: 10%; }
  #hero .hero_name {
    margin: 0;
    font-size: 62px; }
  #hero .hero_name--red {
    color: #F15025;
    margin: 0;
    font-size: 62px; }
  #hero .hero_text {
    margin: 30px 0; }
    #hero .hero_text p {
      margin: 0;
      font-size: 20px; }
  #hero .hero_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 32px;
    cursor: pointer; }
    #hero .hero_link p {
      transition: 0.2s;
      border-bottom: 2px solid transparent;
      border-spacing: 3px;
      margin: 0 30px 0 0; }
    #hero .hero_link i {
      transition: 0.2s;
      color: #F15025; }
    #hero .hero_link:hover p {
      border-bottom-color: #a52b0b; }
    #hero .hero_link:hover i {
      color: #a52b0b; }
  #hero .hero_social {
    margin-top: 100px; }
    #hero .hero_social ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      list-style-type: none;
      margin: 0;
      padding: 0; }
      #hero .hero_social ul li {
        margin: 0 30px 0 0; }
        #hero .hero_social ul li i {
          margin-right: 10px; }
        #hero .hero_social ul li a {
          color: #F0F3F5;
          text-decoration: none;
          transition: 0.2s; }
          #hero .hero_social ul li a:hover {
            color: #F15025; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #011638;
  color: #F0F3F5;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  overflow: hidden; }
