@import url("https://fonts.googleapis.com/css?family=Montserrat");
@keyframes animatedSpinner {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    display: none; } }

#nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 70px; }
  #nav .nav_logo {
    margin-left: 10%;
    font-weight: bold;
    cursor: pointer; }
    #nav .nav_logo a {
      color: transparent;
      text-decoration: none; }
      #nav .nav_logo a p {
        margin: 0;
        font-size: 48px;
        color: #F0F3F5; }
        #nav .nav_logo a p span {
          color: #F15025; }
  #nav .nav_links {
    position: absolute;
    right: 0;
    list-style-type: none;
    margin: 0 10% 0 0;
    padding: 0; }
    #nav .nav_links li {
      display: inline;
      margin: 0 10px; }
      #nav .nav_links li .nav_link {
        font-size: 24px;
        padding: 10px;
        color: #F0F3F5;
        cursor: pointer;
        text-decoration: none;
        transition: 0.2s;
        border-bottom: 2px solid transparent;
        border-spacing: 3px; }
        #nav .nav_links li .nav_link:hover {
          border-bottom-color: #a52b0b; }
      #nav .nav_links li .nav_link--active {
        border-bottom-color: #F15025; }

#hero {
  z-index: 1;
  position: absolute;
  top: 20%;
  left: 10%; }
  #hero .hero_name {
    margin: 0;
    font-size: 62px; }
  #hero .hero_name--red {
    color: #F15025;
    margin: 0;
    font-size: 62px; }
  #hero .hero_text {
    margin: 30px 0; }
    #hero .hero_text p {
      margin: 0;
      font-size: 20px; }
  #hero .hero_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 32px;
    cursor: pointer; }
    #hero .hero_link a {
      color: #F0F3F5;
      text-decoration: none;
      display: flex;
      flex-direction: row;
      align-items: center; }
      #hero .hero_link a p {
        transition: 0.2s;
        border-bottom: 2px solid transparent;
        border-spacing: 3px;
        margin: 0 30px 0 0; }
      #hero .hero_link a i {
        transition: 0.2s;
        color: #F15025; }
    #hero .hero_link:hover p {
      border-bottom-color: #a52b0b; }
    #hero .hero_link:hover i {
      color: #a52b0b; }
  #hero .hero_social {
    margin-top: 100px; }
    #hero .hero_social ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      list-style-type: none;
      margin: 0;
      padding: 0; }
      #hero .hero_social ul li {
        margin: 0 30px 0 0; }
        #hero .hero_social ul li i {
          margin-right: 10px; }
        #hero .hero_social ul li a {
          color: #F0F3F5;
          text-decoration: none;
          transition: 0.2s; }
          #hero .hero_social ul li a:hover {
            color: #F15025; }

/*
HTML
<div id="spinner">
    <p>d<span id="o">o</span></p>
    <span id="outerSpan">
        <div id="innerSpan">
        </div>
    </span>
</div>
*/
#spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #011638;
  z-index: 999;
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  #spinner p {
    color: #F0F3F5;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 10px; }
    #spinner p #o {
      color: #F15025;
      background-color: transparent !important; }
  #spinner #outerSpan {
    width: 200px;
    height: 7px;
    background-color: #023483;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center; }
  #spinner #innerSpan {
    width: 0;
    height: 7px;
    background-color: #F15025;
    border-radius: 10px;
    animation: animatedSpinner 2s;
    animation-fill-mode: forwards; }
  #spinner .fadeOut {
    animation: fadeOut 0.3s;
    animation-fill-mode: forwards; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #011638;
  color: #F0F3F5;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  overflow: hidden; }
