#info {
  transform: translateX(200%);
  transition: $transition;
  position: fixed;
  top: 25px;
  right: 25px;
  background-color: $red;
  color: $background;
  padding: 1em;
  border-radius: 5px;
}

.reveal {
  opacity: 1;
  animation: revealInfo 0.3s;
  animation-fill-mode: both;
}

@keyframes revealInfo {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}
