@import url("https://fonts.googleapis.com/css?family=Montserrat");

$navbar_width: 60px;
$fonts: "Montserrat", Arial, Helvetica, sans-serif;
$transition: all ease-in-out 0.2s;
$red: #f15025;
$gray: #4d4d4e;
$background: #011638;
$navbar_background: darken($background, 3%);
