@import "./_util_classes";
@import url("https://fonts.googleapis.com/css?family=Montserrat");

$navbar_width: 60px;
$fonts: "Montserrat", Arial, Helvetica, sans-serif;
$transition: all ease-in-out 0.25s;
$red: #f15025;
$dark_red: darken($red, 10%);
$light_red: lighten($red, 10%);
$gray: #4d4d4e;
$background: #011638;
$navbar_background: darken($background, 3%);
$light_background: lighten($background, 3%);
