@import "./imports/_vars";

#about {
  .about_header {
    font-size: 62px;
    & > span {
      color: $red;
    }
  }
  .about_text_paragraph {
    font-size: 22px;
    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        border-bottom-color: $dark_red;
      }
    }
    a,
    span {
      transition: $transition;
      border-bottom: 2px solid $red;
    }
  }
}
