@import "./imports/_vars";

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: $background;
  color: #fff;
  font-family: $fonts;
  overflow-y: hidden;
  overflow-x: hidden !important;
}

@media (max-width: 1024px) {
  body {
    overflow-y: auto;
  }
}
