@import "./imports/_vars";

#home {
  width: 100%;
  height: 50%;
  overflow: hidden;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-left: 10%;
  .home_name {
    margin: 0;
    font-size: 92px;
    span {
      color: $red;
    }
  }
  .home_text {
    margin-top: 30px;
    margin-bottom: 60px;
    p {
      margin: 0;
      font-size: 30px;
    }
  }
  .home_link {
    font-size: 42px;
    cursor: pointer;
    transition: $transition;
    border: 1px solid $red;
    color: #f0f3f5;
    text-decoration: none;
    padding: 0.5em 1em;
    &:hover {
      background-color: $red;
      color: $background;
    }
  }
}
