@import "./imports/_vars";

#home {
  width: 100%;
  margin-left: $navbar_width;
  height: 100vh;
  background-color: $background;
  color: #fff;
  .home_name {
    margin: 0;
    font-size: 92px;
  }
  .home_name--red {
    color: $red;
    margin: 0;
    font-size: 92px;
  }
  .home_text {
    margin: 30px 0;
    p {
      margin: 0;
      font-size: 30px;
    }
  }
  .home_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 42px;
    cursor: pointer;
    a {
      transition: $transition;
      border: 1px solid $red;
      display: inline-block;
      color: #f0f3f5;
      text-decoration: none;
      padding: 0.5em 1em;
      &:hover {
        background-color: $red;
        color: $background;
      }
    }
  }
}
