@keyframes animatedSpinner {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

#spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #011638;
  z-index: 999;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  p {
    color: #f0f3f5;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 10px;
    #o {
      color: #f15025;
      background-color: transparent !important;
    }
  }
  #outerSpan {
    width: 200px;
    height: 7px;
    background-color: #023483;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  #innerSpan {
    width: 0;
    height: 7px;
    background-color: #f15025;
    border-radius: 10px;
    animation: animatedSpinner 2s;
    animation-fill-mode: forwards;
  }
  .fadeOut {
    animation: fadeOut 0.3s;
    animation-fill-mode: forwards;
  }
}
